services:
  telegram-twitter:
    image: ghcr.io/mlshdev/telegram-twitter:latest
    restart: unless-stopped
    network_mode: "host"
    user: "1000:1000"
    security_opt:
      - label=disable
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
    environment:
      - BOT_TOKEN=
      - ALLOWLIST_USER_IDS=
      - YTDLP_COOKIES_FILE=/data/cookies.txt
      - YTDLP_TWITTER_API=${YTDLP_TWITTER_API-graphql}
      - YTDLP_TWITTER_API_ORDER=${YTDLP_TWITTER_API_ORDER-graphql,legacy,syndication}
      - YTDLP_USER_AGENT=
      - YTDLP_FIX_ASPECT_RATIO=1
    volumes:
      - ./data:/data:Z
    labels:
      - "traefik.enable=false"
      - "io.containers.autoupdate=registry"
